{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/10.0.0/math.js" integrity="sha512-+lwWRCGAWhCLRPruF7ruYxRlMQuRD1H9C/Pc/HYcuxachoLufBO7OU66bfFnVsFaHQj3S/CunEimw8alVvkl+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{cir_pk}}
<script>var cir_pk = {{pk}}</script>

<p></p>
<canvas id="canvas" width="1100" height="650" style="border: 5px solid
#000000; float: left;">Update your browser to support HTML5 Canvas</canvas>
<div style='float: left;'>
  <div id='editor'></div>
  <button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button>
  <p></p>
  <button id="resistor" type="button" style="height: 25px; width: 100px;" onclick="resistor()">Resistor</button>
  <p></p>
  <button id="capacitor" type="button" style="height: 25px; width: 100px;" onclick="capacitor()">Capacitor</button>
  <p></p>
  <button id="inductor" type="button" style="height: 25px; width: 100px;" onclick="inductor()">Inductor</button>
  <p></p>
  <button id="v_source" type="button" style="height: 25px; width: 100px;" onclick="voltageSource()">Voltage Source</button>
  <p></p>
  <button id="move" type="button" style="height: 25px; width: 100px;" onclick="move()">Move</button>
  <p></p>
  <button id="wire" type="button" style="height: 25px; width: 100px;" onclick="wire()">Wire</button>
  <p></p>
  <button id="ground" type="button" style="height: 25px; width: 100px;" onclick="ground()">Ground</button>
  <p></p>
  <button id="probe" type="button" style="height: 25px; width: 100px;" onclick="probe()">Probe</button>
  <p></p>
  <button id="solve" type="button" style="height: 25px; width: 100px;" onclick="solve()">Solve</button>
  <p></p>
  <button id="zoom_in" type="button" style="height: 25px; width: 100px;" onclick="zoom('in')">+</button>
  <p></p>
  <button id="zoom_out" type="button" style="height: 25px; width: 100px;" onclick="zoom('out')">-</button>
  <p></p>
  <button id="edit" type="button" style="height: 25px; width: 100px;" onclick="edit()">Edit</button>
  <p></p>
  <button id="domain" type="button" style="height: 25px; width: 100px;" onclick="changeDomain()">AC/DC</button>
  <p></p>
  <button id="save" type="button" style="height: 25px; width: 100px;" onclick="save()">Save</button>
  <p></p>
</div>
<p></p>


<script src="{% static 'canvas/canvas.js' %}"></script>