{% load static %}


<canvas id="canvas" width="1200" height="650" style="border: 5px solid
#000000; ">Update your browser to support HTML5 Canvas</canvas>
<p>-------------</p>

<button id="linetool" type="button" style="height: 25px; width: 100px;" onclick="line()">Line</button>
<button id="resettool" type="button" style="height: 25px; width: 100px;" onclick="reset()">Reset</button>
<button id="resistor" type="button" style="height: 25px; width: 100px;" onclick="resistor()">Resistor</button>
<button id="v_source" type="button" style="height: 25px; width: 100px;" onclick="voltageSource()">Voltage Source</button>
<button id="move" type="button" style="height: 25px; width: 100px;" onclick="move()">Move</button>
<button id="wire" type="button" style="height: 25px; width: 100px;" onclick="wire()">Wire</button>
<button id="ground" type="button" style="height: 25px; width: 100px;" onclick="ground()">Ground</button>
<button id="probe" type="button" style="height: 25px; width: 100px;" onclick="probe()">Probe</button>
<button id="solve" type="button" style="height: 25px; width: 100px;" onclick="solve()">Solve</button>
<button id="zoom_in" type="button" style="height: 25px; width: 100px;" onclick="zoom('in')">+</button>
<button id="zoom_out" type="button" style="height: 25px; width: 100px;" onclick="zoom('out')">-</button>
<button id="edit" type="button" style="height: 25px; width: 100px;" onclick="edit()">Edit</button>
<p id='x'>CurX: 0</p>
<p id='y'>CurY: 0</p>
<p id='new_wire'> waiting</p>

<table id="myTable" class="table table-borderless table-striped table-earning">
    <thead>
      <tr>
        <th>node</th>
        <th>voltage</th>
      </tr>
    </thead>
    <tbody id="testBody"></tbody>
  </table>

<script src="{% static 'canvas/canvas.js' %}"></script>